



//start header
.header{
    //background-color: var(--color-green);
    width: 100%;
    position: fixed;
    z-index: 100;
    &__logo{
        width: 214px;
        height: 80px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__menu{
        .item--active{
            background-color: var(--color-red);
        }
        &__item{
            padding: 6px 10px;
            border-radius: 18px;
            margin: 0px 10px;
            a{
                color: var(--color-white);
                opacity: 0.9;
            }
        }
    }
}
.list__icon{
    &__item{
        padding: 8px 10px;
        margin: 0px 10px;
        position: relative;
        &--radius{
            background-color: var(--color-red);
            border-radius: 50%;
        }
        .cart-quantity{
            position: absolute;
            top: -18%;
            right: -10%;
            padding: 2px 7px;
            background-color: var(--color-red);
            border-radius: 30px;
        }
        
        a{
            color: var(--color-white);
            i{
                font-size: 20px;
            }
        }
    }
}
//end header


// banner header start
.banner{
    position: relative;
    .container{
        height: 100%;
        .row{
            height: 100%;
        }
    }
    &__wrapper{
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
       
    }
    &__content{
        color: var(--color-white);
        h1{
            font-size: 50px;
        }
        margin-top: 43%;
    }
}
#carouselExampleIndicators.carousel.slide{
    .carousel-indicators{
        z-index: 8;
    }
    button{
        width: 3px;
        padding: 3.5px;
        border-radius: 50%;
    }

}



// banner header end