



//start header
.header{
    transition: ease 0.5s all;
    &--bgGreen{
        background-color: var(--color-green);

    }
    width: 100%;
    position: fixed;
    z-index: 100;
    &__logo{
       
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__menu{
        .item--active{
            background-color: var(--color-red);
        }
        &__item{
            padding: 6px 10px;
            border-radius: 18px;
            margin: 0px 10px;
            a{
                color: var(--color-white);
                opacity: 0.9;
            }
        }
    }
}
.list__icon{
    &__item{
        padding: 8px 10px;
        margin: 0px 10px;
        position: relative;
        &--radius{
            background-color: var(--color-red);
            border-radius: 50%;
        }
        .cart-quantity{
            position: absolute;
            top: 0%;
            right: 0%;
            padding: 2px 7px;
            background-color: var(--color-red);
            border-radius: 30px;
        }
        
        a{
            color: var(--color-white);
            i{
                font-size: 20px;
            }
        }
    }
}
//end header


// banner header start
.banner{
    position: relative;
    .container{
        height: 100%;
        .row{
            height: 100%;
        }
    }
    &__wrapper{
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
       
    }
    &__content{
        color: var(--color-white);
        h1{
            font-size: 50px;
            font-weight: 700;
           
        }
        margin-top: 40%;
        height: 60%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
}
#carouselExampleIndicators.carousel.slide{
    .carousel-indicators{
        z-index: 8;
    }
    button{
        width: 3px;
        padding: 3.5px;
        border-radius: 50%;
    }

}


// banner header end

// footer start
.footer{
    height: 370px;
    display: flex;
    flex-direction: column;
    &__copyright{
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-green);
        span{
            color:var(--color-text-gray);
            font-size: 14px;
        }
    }
    &__wrapper{
        flex:1;
        background-color: var(--color-text-gray);
        padding:46px 0;
        &__content{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__introduce{
                width: 360px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__text{
                    font-weight: 700;
                    color:var(--color-green);
                  
                }
            }
            &__detail{
                padding: 10.5px 0;
                width: 850px;
                &__register{
                    width: 340px;
                    &__input{
                        border:2px solid var(--color-green);
                        input{
                            outline: none;
                            border: none;
                            width: 220px;
                        }
                        button{
                            height: 100%;
                            background-color: var(--color-green);
                            color: var(--color-white);
                            flex: 1;
                        }
                    }
                }
            }
        }
    }
}
// footer end



//button custom
.btn__custom{
    padding: 12px 24px;
    color: var(--color-white);
    font-weight: 700;
    transition: ease 0.8s all;
    &--green{ 
        background-color: var(--color-green);

        &--outline{
            color:var(--color-green);
            background-color: var(--color-white);
            
            border: 1px solid var(--color-green);
        }
        &--outline:hover{
            background-color: var(--color-green);
            color: var(--color-white);
        }

    }
    &--green:hover{
        opacity: 0.8;
    }

}

//end button custom