:root{
    --color-green:#067231;
    --color-red:#E30613;
    --color-white:#FFFFFF;
    --color-gray:#E5E7EB;
    --color-text-gray: #D1D5DB;
    --font: "Inter", sans-serif;
}
html,body{
    font-family: var(--font);
    font-size: 14px;
}

