.header {
  transition: ease 0.5s all;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.header--bgGreen {
  background-color: var(--color-green);
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu .item--active {
  background-color: var(--color-red);
}
.header__menu__item {
  padding: 6px 10px;
  border-radius: 18px;
  margin: 0px 10px;
}
.header__menu__item a {
  color: var(--color-white);
  opacity: 0.9;
}

.list__icon__item {
  padding: 8px 10px;
  margin: 0px 10px;
  position: relative;
}
.list__icon__item--radius {
  background-color: var(--color-red);
  border-radius: 50%;
}
.list__icon__item .cart-quantity {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 2px 7px;
  background-color: var(--color-red);
  border-radius: 30px;
}
.list__icon__item a {
  color: var(--color-white);
}
.list__icon__item a i {
  font-size: 20px;
}

.banner {
  position: relative;
}
.banner .container {
  height: 100%;
}
.banner .container .row {
  height: 100%;
}
.banner .container .row .row {
  height: 100%;
}
.banner__wrapper {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.banner__content {
  color: var(--color-white);
  margin-top: 40%;
  height: 60%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.banner__content h1 {
  font-size: 50px;
  font-weight: 700;
}
.banner #carouselExampleIndicators.carousel.slide .carousel-indicators {
  z-index: 8;
}
.banner #carouselExampleIndicators.carousel.slide button {
  width: 3px;
  padding: 3.5px;
  border-radius: 50%;
}

.footer {
  height: 370px;
  display: flex;
  flex-direction: column;
}
.footer__copyright {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
}
.footer__copyright span {
  color: var(--color-text-gray);
  font-size: 14px;
}
.footer__wrapper {
  flex: 1;
  background-color: var(--color-text-gray);
  padding: 46px 0;
}
.footer__wrapper__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__wrapper__content__introduce {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__wrapper__content__introduce__text {
  font-weight: 700;
  color: var(--color-green);
}
.footer__wrapper__content__detail {
  padding: 10.5px 0;
  width: 850px;
}
.footer__wrapper__content__detail__register {
  width: 340px;
}
.footer__wrapper__content__detail__register__input {
  border: 2px solid var(--color-green);
}
.footer__wrapper__content__detail__register__input input {
  outline: none;
  border: none;
  width: 220px;
}
.footer__wrapper__content__detail__register__input button {
  height: 100%;
  background-color: var(--color-green);
  color: var(--color-white);
  flex: 1;
}

.btn__custom {
  padding: 12px 24px;
  color: var(--color-white);
  font-weight: 700;
  transition: ease 0.8s all;
}
.btn__custom--green {
  background-color: var(--color-green);
}
.btn__custom--green--outline {
  color: var(--color-green);
  background-color: var(--color-white);
  border: 1px solid var(--color-green);
}
.btn__custom--green--outline:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}
.btn__custom--green:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
