.header {
  transition: ease 0.5s all;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}
.header--bgGreen {
  background-color: var(--color-green);
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu .item--active {
  background-color: var(--color-red);
}
.header__menu__item {
  padding: 6px 10px;
  border-radius: 18px;
  margin: 0px 10px;
}
.header__menu__item a {
  color: var(--color-white);
  opacity: 0.9;
}
.header__propper {
  width: 340px;
  display: none;
}
.header__propper.active {
  display: block;
}
.header__dropdown {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 10;
  top: 70px;
  background-color: var(--color-white);
  padding-top: 20px;
  transition: 0.15s all;
  transform: scaleY(0);
  transform-origin: 50% top;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.header__dropdown--display {
  transform: scaleY(1);
}
.header__dropdown li {
  padding-bottom: 20px;
}
.header__dropdown a {
  font-size: 20px;
  color: var(--color-text-gray);
}
.header__dropdown a:hover {
  color: black;
}

.list__icon--dropdown {
  cursor: pointer;
}
.list__icon__item {
  padding: 8px 10px;
  margin: 0px 10px;
  position: relative;
}
.list__icon__item img {
  cursor: pointer;
}
.list__icon__item--radius {
  background-color: var(--color-red);
  border-radius: 50%;
}
.list__icon__item .cart-quantity {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 2px 7px;
  background-color: var(--color-red);
  border-radius: 30px;
}
.list__icon__item a {
  color: var(--color-white);
}
.list__icon__item a i {
  font-size: 20px;
}

.banner {
  position: relative;
}
.banner .container {
  height: 100%;
}
.banner .container .row {
  height: 100%;
}
.banner .container .row .row {
  height: 100%;
}
.banner__wrapper {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.banner__content {
  color: var(--color-white);
  margin-top: 40%;
  height: 60%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.banner__content h1 {
  font-size: 50px;
  font-weight: 700;
}
.banner__content .banner__catalog li {
  display: flex;
  align-items: center;
}
.banner #carouselExampleIndicators.carousel.slide .carousel-indicators {
  z-index: 8;
}
.banner #carouselExampleIndicators.carousel.slide button {
  width: 3px;
  padding: 3.5px;
  border-radius: 50%;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__copyright {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
}
.footer__copyright span {
  color: var(--color-text-gray);
  font-size: 14px;
}
.footer__wrapper {
  flex: 1;
  background-color: var(--color-text-gray);
  padding: 46px 0;
}
.footer__wrapper__content__detail {
  padding-top: 10.5px;
}
.footer__wrapper__content__detail__register {
  border: 2px solid var(--color-green);
}
.footer__wrapper__content__introduce {
  width: 360px;
}
.footer__wrapper__content__text {
  font-weight: 700;
  color: var(--color-green);
}

.btn__custom {
  padding: 12px 24px;
  color: var(--color-white);
  font-weight: 700;
  transition: ease 0.8s all;
}
.btn__custom--green {
  background-color: var(--color-green);
}
.btn__custom--green--outline {
  color: var(--color-green);
  background-color: var(--color-white);
  border: 1px solid var(--color-green);
}
.btn__custom--green--outline:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}
.btn__custom--secondary {
  background-color: #D1D5DB;
  color: black;
}
.btn__custom--green:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 992px) {
  .banner__content {
    margin-top: 20%;
  }
  .banner__content h3 {
    font-size: 18px;
  }
  .banner__content h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .banner__content {
    margin-top: 22%;
  }
  .banner__content h3 {
    font-size: 13px;
  }
  .banner__content h1 {
    font-size: 20px;
    margin: 0 !important;
    margin-bottom: 5px;
  }
  .banner__content .banner__catalog li {
    font-size: 10px;
    margin: 0 !important;
    line-height: 14px;
  }
  .header .list__icon__item {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
